<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Register a new account</h2>
<div>
    <form th:action="@{/create}" th:object="${user}" method="post">
        email:<input type="text" th:field="*{email}" id="email" name="email"><br>
        password:<input type="password" th:field="*{password}" id="password" name="password"><br>
        <input type="submit" id="registry" name="register" value="register"/>
        <input type="reset" name="reset" value="Reset"/>
    </form>
</div>

<!--<script type="text/javascript" charset="UTF-8">-->
<!--    //register-->
<!--    $("#registry").on("click",function (){-->
<!--        $.ajax({-->
<!--            url:"/users/create",-->
<!--            type:"POST",-->
<!--            data:{userName:$("#userName").val(),-->
<!--                password:$("#password").val()-->
<!--            },-->
<!--            resultType:"JSON",-->
<!--            success:function(result){},-->
<!--            error:function (result){}-->
<!--            });-->
<!--    });-->
<!--</script>-->
</body>
</html>